html, body{
    margin: 0;
    padding: 0;
    min-height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

a {
    color: black;
}

header a {
    color: #0000EE;
}

nav {
    display: flex;
    gap: 0;
    align-items: center;
}

nav a {
    text-decoration: underline;
}

nav a span {
    text-decoration: underline;
}

nav .dot {
    margin: 0 0.3rem;
    text-decoration: none;
}